.generalShadow {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
}

.borderRadius {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.row-gap-custom {
  row-gap: 30px;
}

.column-gap-custom {
  column-gap: 20px;
}

.containerReservas {
  background-color: #5c7df1;
}

.infoReservas {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttonReserva {
  border: 1px solid #ffffff;
  width: max-content;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
}

.imgReservas {
  width: 35%;
  height: 300px;
}

.imgReservas img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
