<div
  class="container  containerReservas d-flex justify-content-between generalShadow borderRadius"
>
  <div class="infoReservas">
    <p class="text-white fw-bold fs-6 margin-bottom-0">RESERVAS</p>

    <h2 class="text-white fw-bold fs-3 margin-bottom-0">Lorem ipsum</h2>

    <p class="text-white fs-6">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam maxime
      iste possimus voluptatem sint non dolorem consectetur sequi quasi pariatur
      a earum aut, rerum ad ipsa sit laborum eveniet eaque.
    </p>

    <a class="buttonReserva borderRadius" href="#">Reserva</a>
  </div>
  <div class="imgReservas">
    <img
      class="generalShadow borderRadius"
      src="assets/images/portafolio1.jpeg"
      alt=""
    />
  </div>
</div>
