<div
  *ngIf="teamData?.enabled"
  class="d-flex flex-column justify-content-center align-items-center row-gap-custom p-4 pb-0 py-4"
  [ngStyle]="{ 'background-color': teamData?.design?.backgroundColor }"
>
  <p
    class="fw-bold fs-6 margin-bottom-0"
    [ngStyle]="{ color: teamData?.titleColor }"
  >
    {{ teamData?.title }}
  </p>
  <h2
    class="fw-bold margin-bottom-0"
    [ngStyle]="{ color: teamData?.subtitleColor }"
  >
    {{ teamData?.subTitle }}
  </h2>
</div>
<div
  *ngIf="teamData?.enabled"
  class="paddingCustom"
  [ngStyle]="{ 'background-color': teamData?.design?.backgroundColor }"
>
  <div class="container">
    <div
      class="container containerCarrousel"
      style="position: relative; max-width: 100%"
    >
      <div
        class="swiper-container swiper-container-two container"
        style="width: 960px"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let member of teamData?.members">
            <div class="cardSpecific borderRadius generalShadow">
              <img
                class="imageOurTeamCard"
                [src]="member.picture"
                [alt]="member.name"
              />
              <div class="infoCard">
                <div *ngIf="!member?.linkedin">
                  <br />
                </div>
                <a
                  [href]="member?.linkedin"
                  target="_blank"
                  *ngIf="member?.linkedin"
                >
                  <img
                    src="/assets/images/icons8-linkedin.svg"
                    alt="linkedin"
                  />
                </a>
                <p class="titleCard fw-bold">{{ member.name }}</p>
                <p class="description">{{ member.position }}</p>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div
        class="swiper-button-prev"
        (click)="slidePrevTeamClasic()"
        *ngIf="teamData?.members?.length > 3"
      >
        <img src="assets/images/prevslider.png" alt="" />
      </div>
      <div
        class="swiper-button-next"
        (click)="slideNextTeamClasic()"
        *ngIf="teamData?.members?.length > 3"
      >
        <img src="assets/images/nextSlider.png" alt="" />
      </div>
    </div>
  </div>
</div>
