.generalShadow {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
}

.borderRadius {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.row-gap-custom {
  row-gap: 30px;
}

.paddingCustom{
  padding-top:30px !important;
  padding-bottom:30px !important;
}

.column-gap-custom {
  column-gap: 20px;
}

.contentCards {
  width: 100%;
}

.cardSpecific {
  max-width: 300px;
  width: 100%;
  background-color: #ffffff;
}

.imageOurTeamCard{
  width: 100%;
  border-radius: 6px 6px 0 0;
  height: 330px;
  object-fit: cover;
  object-position: top;
}

.infoCard {
  padding: 15px;
  margin-top: -32px;
}

.infoCard img {
  width: 32px;
  background-color: #ffffff;
}


.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}



.swiper-pagination-bullet {
  background: #000;
}


.sliderPrev,
.sliderNext {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.sliderPrev{
  left: 50px !important;
}

.sliderNext {
  right: 0;
}

@media (max-width: 480px) {
  .sliderPrev{
    left: 5%;
  }
  
  .sliderNext {
    right: -3%;
  }
  
}

.swiper-button-prev{
  
}

.swiper-button-next{
  
}

.swiper-button-prev::after{
  content: '' !important;
  
}
.swiper-button-next::after{
  content: '' !important;
}

.swiper-slide{
  width: 300px !important;
  max-width: 90% !important;
}

.containerCarrousel{
  position: relative;
  // max-width: 1042px;
  display: flex;
  justify-content: center;
  padding: 0 50px;
}

.swiper-container{
  overflow: hidden;
  position: relative;
  // width: calc(90% - 100px);
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .diagonal {
    clip-path: initial;
    padding: 40px 0;
  }
}

@media (max-width: 500px) {
  .swiper-button-prev{
    display: none !important;
  }
  .swiper-button-next{
    display: none !important;
  }

  .containerCarrousel{
    padding: 0;
  }
}
