.generalShadow {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
}

.borderRadius {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.row-gap-custom {
  row-gap: 30px;
}

.column-gap-custom {
  column-gap: 20px;
}

.contentCards {
  width: 100%;
}

.cardSpecific {
  max-width: 300px;
  width: 90%;
  background-color: #ffffff;
}

.imageOurTeamCard{
  width: 100%;
  border-radius: 6px 6px 0 0;
  height: 330px;
  object-fit: cover;
  object-position: top;
}

.infoCard {
  padding: 15px;
  margin-top: -32px;
}

.infoCard img {
  width: 32px;
  background-color: #ffffff;
}


.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}



.swiper-pagination-bullet {
  background: #000;
}


.sliderPrev,
.sliderNext {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.sliderPrev{
  left: 0px;
}

.sliderNext {
  right: -32px;
}

@media (max-width: 480px) {
  .sliderPrev{
    left: 5%;
  }
  
  .sliderNext {
    right: -3%;
  }
  
}


// carrousel

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 15px;
}


.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}



.swiper-pagination-bullet {
  background: #000;
}

.sliderPrev,
.sliderNext {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sliderPrev{
  left: 20px;
}

.sliderNext {
  right: 20px;
}

@media (max-width: 480px) {
  .sliderPrev{
    left: 5%;
  }
  
  .sliderNext {
    right: -3%;
  }
}