<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div
        class="hero-img"
        [ngStyle]="{ 'background-image': 'url(' + homePage?.mainImage + ')' }"
      ></div>
      <div
        class="carousel-caption d-none d-md-block"
        [ngStyle]="{ 'justify-content': homePage?.design.layout }"
      >
        <div
          class="hero-text"
          [ngStyle]="{ 'text-align': homePage?.design.layout }"
        >
          <h1 [ngStyle]="{ color: homePage?.titleColor }">
            {{ homePage?.title }}
          </h1>
          <p [ngStyle]="{ color: homePage?.subTitleColor }">
            {{ homePage?.subTitle }}
          </p>
          <a
            class="btn btn-primary"
            [href]="homePage?.firstButtonLink"
            role="button"
            [ngStyle]="{
              'background-color': homePage?.firstButtonColor,
              'border-color': homePage?.firstButtonColor
            }"
          >
            {{ homePage?.firstButtonText }}
          </a>
          <a
            class="btn btn-primary"
            [href]="homePage?.secondButtonLink"
            role="button"
            [ngStyle]="{ 'background-color': homePage?.secondButtonColor }"
          >
            {{ homePage?.secondButtonText }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
