<div class="containerStatistics">
  <div class="contentMetricsInfo d-flex justify-content-around align-items-center row-gap-custom">
      <div class="contentMetric">
        <div class="square"></div>
        <div class="number">+1250</div>
        <div class="text">Lorem ipsum</div>
      </div>
      <div class="contentMetric">
        <div class="square"></div>
        <div class="number">+1250</div>
        <div class="text">Lorem ipsum</div>
      </div>
      <div class="contentMetric">
        <div class="square"></div>
        <div class="number">+1250</div>
        <div class="text">Lorem ipsum</div>
      </div>
      <div class="contentMetric">
        <div class="square"></div>
        <div class="number">+1250</div>
        <div class="text">Lorem ipsum</div>
      </div>
  </div>
</div>
