<div class="containerPortafolio d-flex flex-column justify-content-center align-items-center row-gap-custom" id="portafolio">
  <p class="text-black fw-bold fs-6 margin-bottom-0">NUESTRO PORTAFOLIO</p>
  <h2 class="fw-bold text-black margin-bottom-0">Lorem Ipsum</h2>
  <div class="containerCards d-flex justify-content-center align-items-center flex-wrap">
    <div class="cardImage">
      <img  src="assets/images/portafolio1.jpeg" alt="">
      <div class="hoverContent">
        <p class="margin-bottom-0 fw-bold">lorem ipsum</p>
        <img src="assets/images/report-search.svg" alt="">
      </div>
    </div>
    <div class="cardImage">
      <img  src="assets/images/portafolio2.jpeg" alt="">
      <div class="hoverContent">
        <p class="margin-bottom-0 fw-bold">lorem ipsum</p>
        <img src="assets/images/report-search.svg" alt="">
      </div>
    </div>
    <div class="cardImage">
      <img  src="assets/images/portafolio3.jpeg" alt="">
      <div class="hoverContent">
        <p class="margin-bottom-0 fw-bold">lorem ipsum</p>
        <img src="assets/images/report-search.svg" alt="">
      </div>
    </div>
    <div class="cardImage">
      <img  src="assets/images/portafolio4.jpeg" alt="">
      <div class="hoverContent">
        <p class="margin-bottom-0 fw-bold">lorem ipsum</p>
        <img src="assets/images/report-search.svg" alt="">
      </div>
    </div>
    <div class="cardImage">
      <img  src="assets/images/portafolio56.jpeg" alt="">
      <div class="hoverContent">
        <p class="margin-bottom-0 fw-bold">lorem ipsum</p>
        <img src="assets/images/report-search.svg" alt="">
      </div>
    </div>
    <div class="cardImage">
      <img  src="assets/images/portafolio1.jpeg" alt="">
      <div class="hoverContent">
        <p class="margin-bottom-0 fw-bold">lorem ipsum</p>
        <img src="assets/images/report-search.svg" alt="">
      </div>
    </div>
  </div>
</div>
