<div class="row">
  <div class="col-12 d-flex justify-content-center align-items-center">
    <ngx-stripe-elements
      *ngIf="elementsOptions.clientSecret"
      [stripe]="stripe"
      [elementsOptions]="elementsOptions"
    >
      <ngx-stripe-payment />
    </ngx-stripe-elements>
  </div>
  <div class="col-12 d-flex justify-content-center align-items-center pt-4">
    <button
      type="submit"
      class="btn btn-primary px-2"
      (click)="collectPayment()"
    >
      Pagar
    </button>
  </div>
</div>
