<div
  class="d-flex flex-column justify-content-center align-items-center row-gap-custom"
  id="portafolio"
>
  <p class="text-black fw-bold fs-6 margin-bottom-0">
    {{ sectionProjects?.properties?.subtitle || "NUESTRO PORTAFOLIO" }}
  </p>
  <h2 class="fw-bold text-black margin-bottom-0">
    {{ sectionProjects?.properties?.title || "Lorem Ipsum" }}
  </h2>
  <div
    class="containerCards d-flex justify-content-center align-items-center flex-wrap"
  >
    <div *ngFor="let project of listProjects" class="cardImage">
      <img
        [src]="project?.image_url || 'assets/images/portafolio1.jpeg'"
        alt="{{ project.title }}"
      />
      <div class="hoverContent">
        <p class="margin-bottom-0 fw-bold">{{ project?.title }}</p>
        <img src="assets/images/report-search.svg" alt="Search icon" />
      </div>
    </div>
  </div>
</div>
