.generalShadow {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
}

.borderRadius {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.row-gap-custom {
  row-gap: 30px;
}

.column-gap-custom {
  column-gap: 20px;
}

.containerCards {
  width: 90%;
  max-width: 1000px;
}

.cardImage {
  width: 33%;
  height: 250px;
  position: relative;
}

.cardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hoverContent {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.3s ease;
}

.cardImage:hover .hoverContent {
  visibility: visible;
  opacity: 1;
  background-color:#00000093 ;
}

.hoverContent p {
  color: #ffffff;
  font-size: 16px;
}

.hoverContent img {
  width: 32px;
  height: 32px;
  border-radius: 6px;
}

@media (max-width: 700px) {
  .cardImage{
    width: 50%;
    height: 40vw;
  }

  .hoverContent p {
    font-size: 15px;
  }

  .hoverContent img {
    width: 24px;
  }
}