<!-- carousel.component.html -->
<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- <img src="assets/images/hero.jpeg" class="d-block w-100 img-hero" style="height: 500px;" alt="First slide" /> -->
      <div class="hero-img"></div>
      <div class="carousel-caption d-none d-md-block">
        <div class="hero-text">
          <h1>BUCEA CON NOSOTROS Y EXPLORA MUCHO</h1>
          <p>Explora el gran azul y su abanico de posibilidades</p>
          <button class="btn btn-primary" href="#" role="button">Compra</button>
          <button class="btn btn-primary" href="#" role="button">Reserva</button>
        </div>
      </div>
    </div>
    <!-- Add more carousel items here if needed -->
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
