<app-header></app-header>
<main>
    <app-carousel></app-carousel>
    <app-weAre></app-weAre>
    <app-services></app-services>
    <app-portafolio></app-portafolio>
    <app-statistics></app-statistics>
    <app-reservas></app-reservas>
    <app-eventos></app-eventos>
    <app-our-team></app-our-team>

    <!-- <app-portafolio-selected></app-portafolio-selected> -->

    <!-- <app-event-selected></app-event-selected> -->

    <!-- <app-product-selected></app-product-selected> -->

    <!-- <app-store></app-store> -->

    <!-- <app-blog></app-blog> -->

    <!-- <app-contact></app-contact> -->
</main>
<app-footer></app-footer>