.tabs-container {
  width: 100%;
  border-bottom: 2px solid #ccc;
}

.nav-tabs .nav-item {
  width: 50%;
  text-align: center;
}

.nav-tabs .nav-link {
  border: none;
  border-bottom: 2px solid transparent;
  color: #000;
  font-weight: bold;
  padding: 10px 0;
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid #FF7456;
}

.form-container {
  background-color: #f4f8ff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}

.form-label {
  color: #FF7456;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn-primary {
  background-color: #FF7456;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.form-check-label {
  color: #666;
}

#privacidad {
  margin-right: 10px;
}

app-stripe {
  width: 100%;
}
