<div
    class="containerSection d-flex flex-column justify-content-center align-items-center row-gap-custom"
>
    <div class="container contactSection borderRadius">

        <div class="leftContent">
            <h1 class="titleLeft">Danos un toque para más información</h1>

            <p class="descriptionLeft">Regístrate y disfruta de todas las ventajas que te ofrecemos, introduce tus platos y empieza la transformación de tu restaurante:  </p>
        </div>
        <div class="rightContent">
            <form action="" class="formContact">

                <input type="text" name="name" id="" class="inputForm" placeholder="Nombre">
                <input type="email" name="email" id=""  class="inputForm" placeholder="Email">
                <input type="number" name="phone" id=""  class="inputForm" placeholder="phone">
                <textarea placeholder="description"  style="height: 150px !important;" name="message" id="" class="inputForm">

                </textarea>
                <div class="terms">
                    <input class="check" type="checkbox" name="term" id="">
                    <p class="margin-bottom-0 ">I accept the terms and conditions</p>
                </div>

                <input type="submit" value="Send" class="btn buttomSubmit">
            </form>
        </div>
    </div>
</div> 