<div
[ngStyle]="{ 'background-color': contact?.design?.backgroundColor }"
  class="container containerSection d-flex flex-column justify-content-center align-items-center row-gap-custom"
>
  <div class="contactSection borderRadius">
    <div class="leftContent">

      <h1 class="titleLeft" [ngStyle]="{ color: contact?.titleColor }">
        {{ contact?.title }}
      </h1>

      <p class="descriptionLeft" [ngStyle]="{ color: contact?.titleColor }">
        {{ contact?.subTitle }}
      </p>

    </div>
    <div class="rightContent">
      <form [formGroup]="formContact" action="" class="formContact generalShadow">
        <div class="input">
          <p class="margin-bottom-0">Nombre</p>
          <input
            class="inputForm"
            formControlName="from"
            type="text"
            placeholder="Ingrese un nombre"
          />
        </div>
        <div class="input">
          <p class="margin-bottom-0">Tema</p>
          <input
            class="inputForm"
            formControlName="asunto"
            type="text"
            placeholder="Ingrese el asunto"
          />
        </div>
        <div class="input">
          <p class="margin-bottom-0">Email</p>
          <input
            class="inputForm"
            formControlName="from"
            type="email"
            placeholder="Ingrese su correo eléctronico"
          />
        </div>
        <div class="input">
          <p class="margin-bottom-0">Mensaje</p>
          <textarea
            class="inputForm"
            formControlName="message"
            placeholder="Ingrese un mensaje"
          ></textarea>
        </div>
        <div class="terms">
          <input class="check" type="checkbox" name="term" id="" />
          <p class="margin-bottom-0">I accept the terms and conditions</p>
        </div>

        <button
            class="btn btn-primary"
            [disabled]="formContact.invalid"
            (click)="sendMail()"
          >
            Enviar mensaje
          </button>
      </form>
    </div>
  </div>
</div>
