.generalShadow {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
}

.borderRadius {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.margin-bottom-0{
    margin-bottom: 0 !important;
}

.row-gap-custom{
    row-gap: 30px;
}

.column-gap-custom{
    column-gap: 20px;
}

.containerStatistics::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(92,125,241, 0.7);
    pointer-events: none;
}

.containerStatistics{
    width: 100%;
    padding: 5% 0;
    margin: 80px auto;
    background-image: url('../../../../../../assets/images/estadisticas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.contentMetricsInfo{
    max-width: 1000px;
    margin: auto;
    position: relative;
}

.contentMetric{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    row-gap: 10px;
}

.contentMetric img{
    width: 60px;
}

.contentMetric .number{
    font-size: 40px;
    color: #FFFFFF;
    font-weight: bold;
}

.contentMetric .text{
    color: #FFFFFF;
    font-size: 20px;
}