<div class="containerPortafolio d-flex flex-column justify-content-center align-items-center row-gap-custom" id="portafolioMini">
  <h2 class="color-text fw-bold fs-3 margin-bottom-0">NUESTRO PORTAFOLIO</h2>
  <p class=" color-text margin-bottom-0">Lorem Ipsum</p>
  <div class="containerCards d-flex justify-content-center align-items-center flex-wrap">
    <div class="cardImage">
      <img  src="assets/images/portafolio1.jpeg" alt="">
      <div class="hoverContent">
        <p class="margin-bottom-0 fw-bold">lorem ipsum</p>
        <img src="assets/images/report-search.svg" alt="">
      </div>
    </div>
    <div class="cardImage">
      <img  src="assets/images/portafolio2.jpeg" alt="">
      <div class="hoverContent">
        <p class="margin-bottom-0 fw-bold">lorem ipsum</p>
        <img src="assets/images/report-search.svg" alt="">
      </div>
    </div>
    <div class="cardImage">
      <img  src="assets/images/portafolio3.jpeg" alt="">
      <div class="hoverContent">
        <p class="margin-bottom-0 fw-bold">lorem ipsum</p>
        <img src="assets/images/report-search.svg" alt="">
      </div>
    </div>
    <div class="cardImage">
      <img  src="assets/images/portafolio4.jpeg" alt="">
      <div class="hoverContent">
        <p class="margin-bottom-0 fw-bold">lorem ipsum</p>
        <img src="assets/images/report-search.svg" alt="">
      </div>
    </div>
    <div class="cardImage">
      <img  src="assets/images/portafolio1.jpeg" alt="">
      <div class="hoverContent">
        <p class="margin-bottom-0 fw-bold">lorem ipsum</p>
        <img src="assets/images/report-search.svg" alt="">
      </div>
    </div>
  </div>
</div>
