.modern-header {
  background-color: transparent;
  height: 55px;
  position: absolute;
  z-index: 1000;
  top: 0;
  transition: background-color ease 0.2s;
}

.modern-header-items {
  width: 938px;
  max-width: 90%;
}

.logo {
  width: 40px;
  height: 40px;
}

.nav-items {
  text-decoration: none;
  list-style: none;
  margin: 0 !important;
}

a {
  font-size: 15px;
  font-weight: 600;
  line-height: 17.58px;
  text-align: center;
  color: rgb(40, 91, 108);
}

.menuHeader{
  display: none;
  cursor: pointer;
}




.backgroundHeader{
  background-color: transparent !important;
}

@media (max-width: 800px) {
  .itemsPc{
    position: absolute;
    top: 55px;
    z-index: 100;
    background-color: rgb(40, 91, 108);
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 10px 30px 30px;
    row-gap: 28px;
    left: 0;
    visibility: visible;
    // transition: visibility ease 0.1s;
    // right: 0;
  }

  .menuHeader{
    display: flex;
  }
  
  .hidden{
    visibility: hidden !important;
    // right: -100% !important;
    // transition: visibility ease 0.1s;
  }

  .modern-header {
    background-color: rgb(40, 91, 108);
  }
}