<div   [style]="{ 'background-color': sectionEvents?.properties?.background }">
  <div
    class="d-flex flex-column justify-content-center align-items-center row-gap-custom p-4"
  >
    <h2
      class="color-text fw-bold fs-3 margin-bottom-0 text-center"
      [ngStyle]="{ color: sectionEvents?.properties?.titleColor }"
    >
      {{ sectionEvents?.properties?.title }}
    </h2>
    <p
      class="color-text margin-bottom-0"
      [ngStyle]="{ color: sectionEvents?.properties?.subtitleColor }"
    >
      {{ sectionEvents?.properties?.subtitle }}
    </p>
  <!-- <div class="swiper-container container swiper-container-modern-event" style="position: relative; overflow: hidden;">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let event of listEvents">
        <div class="cardSpecific" (click)="onSelectEvent(event)">
          <img
            class="imgCardSpecif"
            [src]="event.images[0]?.url"
            [alt]="event.name"
          />
          <div class="infoCard">
            <p class="titleCard fw-bold">{{ event.name }}</p>
            <p class="description" [innerHTML]="event.description"></p>
            <div class="date">
              <img src="assets/images/calendar.svg" alt="Calendar Icon" />
              <p class="date margin-bottom-0">
                {{ event.dates.event_start | date : "dd/MM/yyyy" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="sliderNext" (click)="slideNext()">
      <img src="assets/images/nextSlider.png" alt="">
    </div>
    <div class="sliderPrev" (click)="slidePrev()">
      <img src="assets/images/prevslider.png" alt="">
    </div>
  </div> -->

  
    <div class="container containerCarrousel" style="position: relative;">
      <div class="swiper-container swiper-container-modern-event container" style="width: 960px;" >
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let event of listEvents">
            <div class="cardSpecific" (click)="onSelectEvent(event)">
              <img
                class="imgCardSpecif"
                [src]="event.images[0]?.url"
                [alt]="event.name"
              />
              <div class="infoCard">
                <p class="titleCard fw-bold">{{ event.name }}</p>
                <p class="description" [innerHTML]="event.description"></p>
                <div class="date">
                  <img src="assets/images/calendar.svg" alt="Calendar Icon" />
                  <p class="date margin-bottom-0">
                    {{ event.dates.event_start | date : "dd/MM/yyyy" }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="swiper-button-prev" (click)="slidePrev()" *ngIf="listEvents.length > 4">  <img src="assets/images/arrowPrevModern.svg" alt=""></div>
      <div class="swiper-button-next" (click)="slideNext()" *ngIf="listEvents.length > 4"><img src="assets/images/arrowNextModern.svg" alt=""></div>
    </div>
  </div>

<div>
