.generalShadow {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
}

.borderRadius {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.row-gap-custom {
  row-gap: 30px;
}

.column-gap-custom {
  column-gap: 20px;
}

.color-text {
  color: #ffffff;
}

.buttonSeeMore {
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 10px 30px;
  width: max-content;
  text-decoration: none;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

/* eventos */

#eventos {
  background-color: #ffffff;
}

.cardsEventos {
  max-width: 1200px;
}

.cardSpecific {
  width: 100%;
  max-width: 220px;
  cursor: pointer;
}

.imgCardSpecif {
  width: 100%;
  height: 300px;
  border-radius: 0 0 45px 0;
  object-fit: cover;
}

.infoCard {
  padding: 15px 0;
  min-height: 150px;
}

.optionsCard {
  padding: 0 15px 15px;
}

a {
  text-decoration: none;
}

.date {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.date img {
  width: 24px;
}

.description {
  min-height: 57px;
  max-height: 57px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.swiper-button-prev::after{
  content: '' !important;
}
.swiper-button-next::after{
  content: '' !important;
}

.swiper-wrapper{
  display: flex;
  justify-content: center;
}

.swiper-slide{
  width: 220px !important;
  max-width: 90% !important;
}

.containerCarrousel{
  position: relative;
  // max-width: 1042px;
  display: flex;
  justify-content: center;
  padding: 0 50px;
}

.swiper-container{
  overflow: hidden;
  position: relative;
  // width: calc(90% - 100px);
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .diagonal {
    clip-path: initial;
    padding: 40px 0;
  }
}

@media (max-width: 500px) {
  .swiper-button-prev{
    display: none !important;
  }
  .swiper-button-next{
    display: none !important;
  }

  .containerCarrousel{
    padding: 0;
  }
}
