<nav class="modern-header w-100 d-flex justify-content-center">
  <div class="modern-header-items d-flex justify-content-between align-items-center">
    <img class="logo" src="assets/images/logo.png" alt="logo" />
    <ul class="itemsPc nav-items d-flex gap-4">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/modern" fragment="services">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/modern" fragment="portafolio">Portafolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/modern" fragment="eventos">Eventos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/modern/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/modern/store">Tienda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/modern/contact">Contacto</a>
      </li>
    </ul>
    <img class="menuHeader" src="assets/images/menuGreen.svg" alt="" onclick="openMenu(0)">
  </div>
</nav>
