<nav
  class="modern-header w-100 d-flex justify-content-center"
  [class.backgroundHeader]="!menuOpen"
>
  <div
    class="modern-header-items d-flex justify-content-between align-items-center"
  >
    <img class="logo" [src]="styles?.logo" alt="logo" />
    <ul
      class="list-header itemsPc nav-items d-flex gap-4"
      [class.hidden]="!menuOpen"
    >
      <li class="nav-item active">
        <a class="nav-link" routerLink="/modern" (click)="closeMenu()"
        [ngStyle]="{ color: styles?.menuTextColor }"
          >Inicio</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/modern"
          (click)="closeMenu()"
          fragment="services"
          [ngStyle]="{ color: styles?.menuTextColor }"
          >Servicios</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/modern"
          (click)="closeMenu()"
          fragment="portafolio"
          [ngStyle]="{ color: styles?.menuTextColor }"
          >Portafolio</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/modern"
          (click)="closeMenu()"
          fragment="eventos"
          [ngStyle]="{ color: styles?.menuTextColor }"
          >Eventos</a
        >
      </li>
<!--       <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/modern/blog"
          (click)="closeMenu()"
          [ngStyle]="{ color: styles?.menuTextColor }"
          >Blog</a
        >
      </li> -->
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/modern/store"
          (click)="closeMenu()"
          [ngStyle]="{ color: styles?.menuTextColor }"
          >Tienda</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/modern/contact"
          (click)="closeMenu()"
          [ngStyle]="{ color: styles?.menuTextColor }"
          >Contacto</a
        >
      </li>
    </ul>
    <img
      class="menuHeader"
      [src]="
        menuOpen
          ? 'assets/images/closeMenuWhite.svg'
          : 'assets/images/menuGreen.svg'
      "
      alt="Menu"
      (click)="toggleMenu()"
    />
  </div>
</nav>
