<div class="containerStatistics">
  <div
    class="container contentMetricsInfo d-flex justify-content-around align-items-center row-gap-custom"
  >
    <div class="contentMetric">
      <div class="square"></div>
      <div class="number">+1250</div>
      <div class="text">MARCAS POTENCIADAS</div>
    </div>
    <div class="contentMetric">
      <div class="square"></div>
      <div class="number">+1250</div>
      <div class="text">ASOCIADOS A NUESTRA AGENCIA</div>
    </div>
  </div>
</div>
