<div
  class="container d-flex flex-column justify-content-center align-items-center row-gap-custom"
  id="portafolioMini"
>
  <h2 class="color-text fw-bold fs-3 margin-bottom-0">
    {{ sectionProjects?.properties?.title }}
  </h2>
  <p class="color-text margin-bottom-0">
    {{ sectionProjects?.properties?.subtitle }}
  </p>

  <div
    class="containerCards d-flex justify-content-center align-items-center flex-wrap"
  >
    <div class="cardImage" *ngFor="let project of listProjects" (click)="onSelectProject(project)">
      <img [src]="project.image_url" [alt]="project?.title" />
      <div class="hoverContent">
        <p class="margin-bottom-0 fw-bold">{{ project?.title }}</p>
        <img src="assets/images/report-search.svg" alt="Search Icon" />
      </div>
    </div>
  </div>


</div>
