<div class="containerSection d-flex justify-content-between">
  <div class="carrusel">
    <div class="containerImages">
      <ng-container *ngFor="let image of event?.images; let i = index">
        <img
          class="borderRadius"
          [src]="image?.url"
          [alt]="image?.url"
          *ngIf="activeIndex === i"
        />
      </ng-container>
    </div>
    <div class="buttons">
      <div
        class="buttonOptions"
        *ngFor="let image of event?.images; let i = index"
        [class.active]="activeIndex === i"
        (click)="setActiveIndex(i)"
      ></div>
    </div>
  </div>
  <div class="infoSection row-gap-custom d-flex flex-column">
    <h2 class="fw-bold fs-3 margin-bottom-0">{{ event?.name }}</h2>
    <p class="margin-bottom-0">
      {{ event?.dates?.event_start | date }} -
      {{ event?.dates?.event_end | date }}
    </p>
    <div [innerHTML]="sanitizeHtml(event?.description)"></div>

    <p class="fw-bold fs-5 margin-bottom-0">
      Entradas disponibles: {{ event?.tickets?.length }}
    </p>

    <p
      class="fw-bold fs-5 margin-bottom-0"
      *ngIf="event?.location === 'online'"
    >
      Evento online.
    </p>

    <div class="containerButtonSection d-flex justify-content-start">
      <button
        class="btn btn-primary"
        [disabled]="!event?.tickets?.length"
        (click)="buyEvent()"
      >
        Comprar</button
      ><a class="btn btn-primary" [href]="event?.url" target="_blank"
        >Ver ubicación</a
      >
    </div>
  </div>
</div>
