.borderRadius {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.generalShadow {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
}

a {
    text-decoration: none;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.row-gap-custom {
    row-gap: 20px;
}

.row-gap-custom1 {
    row-gap: 40px;
}

.column-gap-custom {
    column-gap: 20px;
}

.containerSection {
    width: 100%;
    margin-top: 40px;
}

.containerCards {
    width: 100%;
}

.cardProduct {
    width: 100%;
    max-width: 300px;
}

.cardProduct img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: top;
}

.infoCard{
    padding: 15px;
}

.seeMore {
    color: #4615A3;
    font-weight: bold;
}

.buttonCard {
    padding: 7px 15px;
    color: #ffffff;
}

.descriptionCard{
    min-height: 103px;
    max-height: 103px;
    overflow: hidden;
    text-overflow: ellipsis;
}