.generalShadow {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
}

.borderRadius {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.row-gap-custom {
  row-gap: 30px;
}

.column-gap-custom {
  column-gap: 20px;
}

.color-text {
  color: #2c3e50;
}

.containerSectionServices {
  width: 100%;
}

.cardServices {
  width: 90%;
  max-width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.cardServices img {
  width: 48px;
}

.titleCard {
  color: #2c3e50;
  font-size: 18px;
  text-align: center;
}

.descriptionCard {
  min-height: 100px;
  color: #2c3e50;
  text-align: center;
  max-height: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ff7456;
  margin: auto;
}
