
<!-- ---------------------------------------------------- -->
<!-- Quienes somos -->

<div class="containerWeAre d-flex justify-content-between">
  <div class="contentLeft d-flex flex-column row-gap-custom column-gap-custom">
    <p class="text-black fw-bold fs-6 margin-bottom-0">SOBRE NOSOTROS</p>

    <h2 class="fw-bold text-black margin-bottom-0">Lorem ipsum dolor sit amet, consectetur</h2>

    <span class="fs-6 text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam maxime iste possimus voluptatem sint non dolorem consectetur sequi quasi pariatur a earum aut, rerum ad ipsa sit laborum eveniet eaque.</span>

    <div class="containerCardsWeAre d-flex align-items-center justify-content-between flex-wrap  row-gap-custom column-gap-custom">
      <div class="cardweAre generalShadow borderRadius">
        <img  class="imgCard" src="assets/images/imgCard.jpeg" alt="">
        <div class="infoCard">
          <div class="titleCard fw-bold mb">Lorem ipsum</div>
          <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
        </div>
      </div>

      <div class="cardweAre generalShadow borderRadius">
        <img  class="imgCard" src="assets/images/imgCard.jpeg" alt="">
        <div class="infoCard">
          <div class="titleCard fw-bold mb">Lorem ipsum</div>
          <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
        </div>
      </div>

      <div class="cardweAre generalShadow borderRadius">
        <img  class="imgCard" src="assets/images/imgCard.jpeg" alt="">
        <div class="infoCard">
          <div class="titleCard fw-bold mb">Lorem ipsum</div>
          <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
        </div>
      </div>

      <div class="cardweAre generalShadow borderRadius">
        <img  class="imgCard" src="assets/images/imgCard.jpeg" alt="">
        <div class="infoCard">
          <div class="titleCard fw-bold mb">Lorem ipsum</div>
          <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
        </div>
      </div>
    
    </div>
    
    <a href="#" class="buttonSeeMore borderRadius generalShadow">Leer más</a>

  </div>
  <div class="contentRight " >
    <img class="imgRight" src="assets/images/hero.jpeg" alt="">
  </div>
</div>

<!-- ---------------------------------------------------- -->
<!-- Porque elegirnos -->

<div class="containerWeAre d-flex justify-content-between flex-row-reverse ">
  <div class="contentLeft d-flex flex-column row-gap-custom column-gap-custom">
    <p class="text-black fw-bold fs-6 margin-bottom-0">¿POR QUÉ ELEGIRNOS?</p>

    <h2 class="fw-bold text-black margin-bottom-0">Lorem ipsum dolor sit amet, consectetur</h2>

    <span class="fs-6 text-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam maxime iste possimus voluptatem sint non dolorem consectetur sequi quasi pariatur a earum aut, rerum ad ipsa sit laborum eveniet eaque.</span>

    <div class="containerCardsWeAre d-flex align-items-center justify-content-between flex-wrap  row-gap-custom column-gap-custom">
      <ul class="listOptions ps-0">
        <li class="d-flex align-items-center column-gap-custom">
          <span class="fw-bold fs-customList-option " >01.</span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci iusto maxime vitae nisi facere sequi quae voluptatum nemo incidunt, deserunt eos reprehenderit, consequuntur qui labore voluptatibus doloremque at obcaecati vero.</p>
        </li>
        <li class="d-flex align-items-center column-gap-custom">
          <span class="fw-bold fs-customList-option " >02.</span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci iusto maxime vitae nisi facere sequi quae voluptatum nemo incidunt, deserunt eos reprehenderit, consequuntur qui labore voluptatibus doloremque at obcaecati vero.</p>
        </li>
        <li class="d-flex align-items-center column-gap-custom">
          <span class="fw-bold fs-customList-option " >03.</span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci iusto maxime vitae nisi facere sequi quae voluptatum nemo incidunt, deserunt eos reprehenderit, consequuntur qui labore voluptatibus doloremque at obcaecati vero.</p>
        </li>
        <li class="d-flex align-items-center column-gap-custom">
          <span class="fw-bold fs-customList-option " >04.</span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci iusto maxime vitae nisi facere sequi quae voluptatum nemo incidunt, deserunt eos reprehenderit, consequuntur qui labore voluptatibus doloremque at obcaecati vero.</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="contentRight " >
    <img class="imgRight" src="assets/images/hero.jpeg" alt="">
  </div>
</div>