.carousel {
  height: 525px !important;
}

.carousel-caption {
  display: flex !important;
  justify-content: center;
  transform: translateY(-50%);
}

.carousel-caption h5 {
  font-size: 2.5rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.25rem;
}

.btn-primary {
  margin-right: 10px;
}

.hero-img {
  background-image: url("../../../../../../assets/images/hero.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  min-height: 526px;
}

.hero-text {
  width: 768px;
  text-align: center;
  color: rgb(10, 19, 41);
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88px;
  }
}

@media (max-width: 600px) {
  .carousel-caption {
    transform: translateY(-25%);
  }
}