.generalShadow {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
}

.borderRadius {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.row-gap-custom {
  row-gap: 30px;
}

.column-gap-custom {
  column-gap: 20px;
}

.diagonal {
  clip-path: polygon(0 70px, 100% 0, 100% 100%, 0 calc(100% - 70px));
  background-color: #eff2fe;
  padding: 80px 0;
  margin-top: 40px;
}

.cardSpecific {
  width: 300px;
  max-width: 100%;

  background-color: #ffffff;
}

.cardSpecific img {
  width: 100%;
  height: 250px;
  border-radius: 6px 6px 0 0;
  object-fit: cover;
  object-position: top;
}

.infoCard {
  padding: 15px;
}

.optionsCard {
  padding: 0 15px 15px;
}

a {
  text-decoration: none;
}

.description {
  height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel-item {
  transition: transform 0.5s ease;
}

@media (max-width: 900px) {
  .diagonal {
    clip-path: initial;
    padding: 40px 0;
  }
}


.swiper-button-prev::after{
  content: '' !important;
}
.swiper-button-next::after{
  content: '' !important;
}

.swiper-slide{
  width: 300px !important;
  max-width: 90% !important;
}

.containerCarrousel{
  position: relative;
  // max-width: 1042px;
  display: flex;
  justify-content: center;
  padding: 0 50px;
}

.swiper-container{
  overflow: hidden;
  position: relative;
  // width: calc(90% - 100px);
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  .swiper-button-prev{
    display: none !important;
  }
  .swiper-button-next{
    display: none !important;
  }

  .containerCarrousel{
    padding: 0;
  }
}