<div id="weAre">
  <app-carousel></app-carousel>
</div>
<div class="pb-4" id="weAre">
  <app-weAre></app-weAre>
</div>
<div class="py-4" id="services">
  <app-services></app-services>
</div>
<div class="py-4" id="portafolio">
  <app-portafolio></app-portafolio>
</div>
<div class="py-4" id="statistics">
  <app-statistics></app-statistics>
</div>
<div class="py-4" id="statistics">
  <app-reservas></app-reservas>
</div>
<div class="py-4" id="eventos">
  <app-eventos></app-eventos>
</div>
<div class="py-4" id="ourTeam">
  <app-our-team></app-our-team>
</div>
