<div class="containerSection d-flex justify-content-between">
  <div class="infoSection row-gap-custom d-flex flex-column">
    <h2 class="color-text fw-bold fs-3 margin-bottom-0">
      {{ project?.title }}
    </h2>
    <p class="color-text margin-bottom-0">
      {{ project?.date | date : "dd/MM/yyyy" }}
    </p>
    <div [innerHTML]="sanitizeHtml(project?.description)"></div>

    <p class="color-text fw-bold fs-6 margin-bottom-0">Destrezas</p>
    <p>
      {{ project?.skills }}
    </p>
  </div>
  <div class="carrusel">
    <div class="containerImages">
      <ng-container *ngFor="let image of project?.images; let i = index">
        <img
          class="borderRadius"
          [src]="image"
          [alt]="image"
          *ngIf="activeIndex === i"
        />
      </ng-container>
    </div>
    <div class="buttons">
      <div
        class="buttonOptions"
        *ngFor="let image of project?.images; let i = index"
        [class.active]="activeIndex === i"
        (click)="setActiveIndex(i)"
      ></div>
    </div>
  </div>
</div>
