<div
  class="py-4"
  [ngStyle]="{ 'background-color': aboutUs?.design.backgroundColor }"
  *ngIf="aboutUs?.enabled"
>
  <div
    class="container d-flex justify-content-between"
    [ngStyle]="
      aboutUs?.design.layout === 'right'
        ? { 'flex-direction': 'row-reverse' }
        : {}
    "
  >
    <div
      #leftContentAboutUs
      style="height: max-content; min-height: max-content"
      class="contentLeft d-flex flex-column row-gap-custom column-gap-custom"
    >
      <h2
        [ngStyle]="{ color: aboutUs?.titleColor }"
        class="fw-bold fs-3 margin-bottom-0"
      >
        {{ aboutUs?.title }}
      </h2>

      <p [ngStyle]="{ color: aboutUs?.subTitleColor }" class="margin-bottom-0">
        {{ aboutUs?.subTitle }}
      </p>

      <span
        class="fs-6 color-text"
        class="descriptionSectionAboutUs"
        [ngStyle]="{ maxHeight: maxHeightAboutUs }"
        [innerHTML]="aboutUs?.description"
      ></span>

      <div
        class="containerCardsWeAre d-flex align-items-center justify-content-between flex-wrap row-gap-custom column-gap-custom"
      >
        <div class="cardweAre" *ngFor="let icon of aboutUs?.features?.icons">
          <img class="imgCard" [src]="icon?.url" [alt]="icon?.title" />
          <div class="infoCard">
            <div class="titleCard color-text fw-bold mb">{{ icon?.title }}</div>
            <div class="description">{{ icon?.description }}</div>
          </div>
        </div>
      </div>
      <div
        class="buttonSeeMore generalShadow"
        *ngIf="aboutUs?.features?.buttons?.length > 0"
        (click)="seeMore()"
      >
        Leer más
      </div>
    </div>
    <div
      class="contentRight"
      style="min-height: 526px"
      #rightContentAboutUs
      [ngClass]="{ 'order-1': aboutUs?.design.layout === 'right' }"
    >
      <img class="imgRight" [src]="aboutUs?.imgUrl" alt="" />
    </div>
  </div>
</div>

<div
  class="py-4"
  [ngStyle]="{ 'background-color': whyChooseUsData?.design?.backgroundColor }"
  *ngIf="whyChooseUsData?.enabled"
>
  <div
    class="container py-4 d-flex justify-content-between"
    [ngStyle]="
      whyChooseUsData?.design.layout === 'right'
        ? { 'flex-direction': 'row-reverse' }
        : {}
    "
  >
    <div
      class="contentLeft d-flex flex-column row-gap-custom column-gap-custom"
    >
      <h2
        [ngStyle]="{ color: whyChooseUsData?.titleColor }"
        class="fw-bold fs-3 margin-bottom-0"
      >
        {{ whyChooseUsData?.title }}
      </h2>

      <p
        class="color-text margin-bottom-0"
        [innerHTML]="whyChooseUsData?.description"
      ></p>

      <div
        class="containerCardsWeAre d-flex align-items-center justify-content-between flex-wrap row-gap-custom column-gap-custom"
      >
        <ul class="listOptions ps-0">
          <li
            class="d-flex align-items-center column-gap-custom"
            *ngFor="let subtitle of whyChooseUsData?.subtitles; let i = index"
          >
            <ng-container *ngIf="subtitle.description">
              <span class="fw-bold fs-customList-option"
                >{{ ("0" + (i + 1)).slice(-2) }}.</span
              >
              <p class="margin-bottom-0">{{ subtitle.description }}.</p>
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
    <div class="contentRight">
      <img
        class="imgRight"
        [src]="whyChooseUsData?.imgUrl"
        [alt]="whyChooseUsData?.imgUrl"
      />
    </div>
  </div>
</div>
