.generalShadow {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
}

.borderRadius {
  border-radius: 0px 0px 100px 100px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.row-gap-custom {
  row-gap: 30px;
}

.column-gap-custom {
  column-gap: 20px;
}

.containerReservas {
  padding: 40px;
}

.infoReservas {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttonReserva {
  width: max-content;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 25px;
  border: 2px solid #ffffff;
  border-radius: 25px;
}

.imgReservas {
  width: 35%;
  height: 300px;
}

.imgReservas img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.noneImage {
  display: none;
}

.center {
  margin: auto;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  min-height: 300px;
  text-align: center;
}

@media (max-width: 800px) {
  .containerReservas {
    flex-direction: column;
    row-gap: 30px;
  }

  .infoReservas {
    row-gap: 30px;
  }

  .imgReservas {
    width: 100%;
  }

  .infoReservas {
    width: 100%;
  }
}
