<footer class="footer-container">
  <div class="firstPart d-flex">
    
    <div class="containerOptions d-flex justify-content-between align-items-start">
      <img src="assets/images/logo.png" alt="">
      <ul>
        <li class="optionList fw-bold border-bottom-custom fs-custom"><a href=""> Contact </a></li>
        <li class="optionList"><a href=""> Address </a></li>
        <li class="optionList"><a href=""> City </a></li>
        <li class="optionList"><a href=""> Zip Cope </a></li>
        <li class="optionList"><a href=""> Email </a></li>
        <li class="optionList"><a href=""> Phone </a></li>
      </ul>

      <ul>
        <li class="optionList fw-bold border-bottom-custom fs-custom"><a href=""> Links </a></li>
        <li class="optionList"><a href=""> Services </a></li>
        <li class="optionList"><a href=""> Portafolio </a></li>
        <li class="optionList"><a href=""> Events </a></li>
        <li class="optionList"><a href=""> Blog </a></li>
        <li class="optionList"><a href=""> Shop </a></li>
        <li class="optionList"><a href=""> Contact </a></li>
      </ul>
      <div class="">
        <div class="socialMedia d-flex align-items-center column-gap-custom">
          <img src="assets/images/icons8-instagramRed.svg" alt="">
          <img src="assets/images/icons8-linkedin1Red.svg" alt="">
          <img src="assets/images/icons8-twitterxRed.svg" alt="">
          <img src="assets/images/icons8-instagramRed.svg" alt="">
          <img src="assets/images/icons8-linkedin1Red.svg" alt="">
          <img src="assets/images/icons8-twitterxRed.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <hr class="hr-custom">

  <div class="secondPart d-flex justify-content-between align-items-center flex-wrap">
    <div class="policy d-flex align-items-center column-gap-custom">
      <a class="text-white " href="">© 2023 Company name. All rights reserved.</a>
    </div>
  </div>
</footer>
