.borderRadius {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.generalShadow {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
}

a{
    text-decoration: none;
}

.margin-bottom-0{
    margin-bottom: 0 !important;
}

.row-gap-custom{
    row-gap: 20px;
}

.row-gap-custom1{
    row-gap:  40px;
}

.row-gap-custom2{
    row-gap:  30px;
}

.column-gap-custom{
    column-gap: 20px;
}
.column-gap-custom1{
    column-gap: 10px;
}

.containerSection{
    width: 90%;
    max-width: 1000px;
    margin: 80px auto;
}

.contactSection{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #EFF2FE;
}

.leftContent{
    width: 40%;
    background-color: #5C7DF1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 30px;
    padding-left: 10%;
    padding-top: 60px;
    row-gap: 30px;
}

ul{
    list-style: none;
    padding-left: 0 !important;
}

.rigthSection{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 30px;
}


.input{
    width: 100%;
}

.inputDoble{
    width: 100%;
}

.inputForm{
    width: 100%;
    height: 30px;
    border: none;
}

textarea{
    min-height: 145px;
}

.buttonSend{
    display:flex;
    justify-content: end;
    width: 100%;
}

.buttonSend input{
    background-color: #5C7DF1;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
}