<div
  class="containerSection d-flex flex-column justify-content-center align-items-center row-gap-custom"
>
  <h2 class="color-text fw-bold fs-3 margin-bottom-0">Nuestra tienda</h2>
  <p class="fw-bold color-text margin-bottom-0">Lorem Ipsum</p>

  <div class="contactSection borderRadius">
    <div class="leftContent borderRadius">
      <h3 class="text-white fs-3">Oficina</h3>

      <ul class="d-flex flex-column row-gap-custom2">
        <li class="liContact d-flex column-gap-custom1 align-items-center">
          <img src="assets/images/icoUbication.svg" alt="" />
          <p class="text-white margin-bottom-0">Dirección</p>
        </li>
        <li class="liContact d-flex column-gap-custom1 align-items-center">
          <img src="assets/images/icoUbication.svg" alt="" />
          <p class="text-white margin-bottom-0">Teléfono</p>
        </li>
        <li class="liContact d-flex column-gap-custom1 align-items-center">
          <img src="assets/images/icoUbication.svg" alt="" />
          <p class="text-white margin-bottom-0">URL</p>
        </li>
        <li class="liContact d-flex column-gap-custom1 align-items-center">
          <img src="assets/images/icoUbication.svg" alt="" />
          <p class="text-white margin-bottom-0">Email</p>
        </li>
      </ul>
    </div>
    <form class="rigthSection" action="">
      <h2>Formulario de contacto</h2>
      <div
        class="inputDoble d-flex justify-content-between column-gap-custom row-gap-custom"
      >
        <div class="input">
          <p class="margin-bottom-0">Nombre</p>
          <input
            class="inputForm"
            type="text"
            name="Nombre completo"
            required
          />
        </div>
        <div class="input">
          <p class="margin-bottom-0">Tema</p>
          <input class="inputForm" type="text" name="Tema" id="" required />
        </div>
      </div>
      <div class="input">
        <p class="margin-bottom-0">Email</p>
        <input class="inputForm" type="email" name="Email" id="" required />
      </div>
      <div class="input">
        <p class="margin-bottom-0">Mensaje</p>
        <textarea class="inputForm" name="mensaje" id="" required></textarea>
      </div>
      <div class="buttonSend">
        <input
          class="borderRadius generalShadow"
          type="submit"
          value="Enviar mensaje"
        />
      </div>
    </form>
  </div>
</div>
