<div
  class="diagonal"
  id="servicios"
  [ngStyle]="{ 'background-color': sectionServices?.properties?.background }"
>
  <div
    class="d-flex flex-column justify-content-center align-items-center row-gap-custom"
  >
    <p
      class="fs-6 margin-bottom-0"
      [ngStyle]="{ color: sectionServices?.properties?.titleColor }"
    >
      {{ sectionServices?.properties?.title }}
    </p>
    <h2
      class="margin-bottom-0"
      [ngStyle]="{ color: sectionServices?.properties?.subtitleColor }"
    >
      {{ sectionServices?.properties?.subtitle }}
    </h2>

    <div
      class="containerSectionServices d-flex card-container align-items-center flex-wrap row-gap-custom column-gap-custom"
    >
      <div
        class="cardServices generalShadow borderRadius"
        *ngFor="let service of listServices"
        [ngStyle]="{
          'background-color': sectionServices?.properties?.cardsBackground
        }"
      >
        <img [src]="service.image_url" [alt]="service?.service_name" />
        <div
          class="titleCard fw-bold"
          [ngStyle]="{ color: sectionServices?.properties?.titleColor }"
        >
          {{ service?.service_name }}
        </div>
        <div
          class="descriptionCard"
          [innerHTML]="sanitizeHtml(service?.description)"
        ></div>
      </div>
    </div>
  </div>
</div>
