<div
  class="diagonal"
  id="servicios"
  [ngStyle]="{ 'background-color': sectionServices?.properties?.background }"
>
  <div
    class="container d-flex flex-column justify-content-center align-items-center row-gap-custom"
  >
    <p
      class="fw-bold fs-6 margin-bottom-0"
      [ngStyle]="{ color: sectionServices?.properties?.titleColor }"
    >
      {{ sectionServices?.properties?.title }}
    </p>
    <h2
      class="fw-bold margin-bottom-0"
      [ngStyle]="{ color: sectionServices?.properties?.subtitleColor }"
    >
      {{ sectionServices?.properties?.subtitle }}
    </h2>

    <div
      class="d-flex card-container justify-content-between align-items-center flex-wrap row-gap-custom column-gap-custom"
    >
      <div
        class="cardServices generalShadow borderRadius"
        *ngFor="let service of listServices"
        [ngStyle]="{
          'background-color': sectionServices?.properties?.cardsBackground
        }"
      >
        <img [src]="service.image_url" [alt]="service.service_name" />
        <div class="titleCard fw-bold">{{ service.service_name }}</div>
        <div
          class="descriptionCard"
          *ngIf="service.description"
          [innerHTML]="service.description"
        ></div>
      </div>
    </div>
  </div>
</div>
