<div
  class="diagonal"
  id="eventos"
  [style]="{ 'background-color': sectionEvents?.properties?.background }"
>
  <div
    class="container d-flex flex-column justify-content-center align-items-center row-gap-custom"
  >
    <p class="text-black fw-bold fs-6 margin-bottom-0">
      {{ sectionEvents?.properties?.subtitle || "NUESTROS EVENTOS" }}
    </p>
    <h2 class="fw-bold text-black margin-bottom-0">
      {{ sectionEvents?.properties?.title || "Eventos que se vienen" }}
    </h2>

    <div class="container styleContainerSlider">
      <div

        class="d-flex column-gap-custom row-gap-custom"
      >
        <div
          *ngFor="let event of listEvents"
          class="cardSpecific borderRadius generalShadow"
          (click)="onSelectEvent(event)"
        >
          <img
            [src]="event.images[0]?.url || 'assets/images/portafolio1.jpeg'"
            alt=""
          />
          <div class="infoCard">
            <p class="titleCard fw-bold">{{ event.name }}</p>
            <div class="description" [innerHTML]="event.description"></div>
            <p class="date">
              {{ event.dates.event_start | date : "dd/MM/yyyy" }}
            </p>
          </div>
          <div class="optionsCard d-flex justify-content-between flex-wrap">
            <a class="text-black" [href]="event.url || '#'">Leer más</a>
            <div class="text-black fw-bold">Reservar</div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#eventCarousel" role="button" data-slide="prev" style="width: 24px;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#eventCarousel" role="button" data-slide="next" style="width: 24px;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>


<!-- <div id="eventCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let eventGroup of splitEvents(listEvents, 2); let i = index" [class.active]="i === 0">
      <div class="d-flex justify-content-around flex-wrap column-gap-custom row-gap-custom">
        <div *ngFor="let event of eventGroup" class="cardSpecific borderRadius generalShadow" (click)="onSelectEvent(event)">
          <img [src]="event.images[0]?.url || 'assets/images/portafolio1.jpeg'" alt="" />
          <div class="infoCard">
            <p class="titleCard fw-bold">{{ event.name }}</p>
            <div class="description" [innerHTML]="event.description"></div>
            <p class="date">{{ event.dates.event_start | date: 'dd/MM/yyyy' }}</p>
          </div>
          <div class="optionsCard d-flex justify-content-between flex-wrap">
            <a class="text-black" [href]="event.url || '#'">Leer más</a>
            <div class="text-black fw-bold">Reservar</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#eventCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#eventCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->
