<div
  class="diagonal"
  id="eventos"
  [style]="{ 'background-color': sectionEvents?.properties?.background }"
  *ngIf="sectionEvents?.active"
>
  <div
    class="container d-flex flex-column justify-content-center align-items-center row-gap-custom"
  >
    <p class="fw-bold fs-6 margin-bottom-0">
      {{ sectionEvents?.properties?.subtitle || "NUESTROS EVENTOS" }}
    </p>
    <h2 class="fw-bold text-black margin-bottom-0">
      {{ sectionEvents?.properties?.title || "Eventos que se vienen" }}
    </h2>

    <div
      class="container containerCarrousel"
      style="position: relative; max-width: 100%"
    >
      <div
        class="swiper-container swiper-clasic-events container"
        style="width: 960px"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let event of listEvents">
            <div
              class="cardSpecific borderRadius generalShadow"
              (click)="onSelectEvent(event)"
            >
              <img
                [src]="event?.images[0]?.url || 'assets/images/portafolio1.jpeg'"
                [alt]="event?.name"
              />
              <div class="infoCard">
                <p class="titleCard fw-bold">{{ event?.name }}</p>
                <div
                  class="description"
                  [innerHTML]="sanitizeHtml(event?.description)"
                ></div>
                <p class="date">
                  {{ event?.dates?.event_start | date : "dd/MM/yyyy" }}
                </p>
              </div>
              <div class="optionsCard d-flex justify-content-between flex-wrap">
                <div class="fw-bold c-pointer">Reservar</div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div
        class="swiper-button-prev"
        (click)="slidePrev()"
        *ngIf="listEvents?.length > 3"
      >
        <img src="assets/images/prevslider.png" alt="prevslider" />
      </div>
      <div
        class="swiper-button-next"
        (click)="slideNext()"
        *ngIf="listEvents?.length > 3"
      >
        <img src="assets/images/nextSlider.png" alt="nextSlider?" />
      </div>
    </div>
  </div>
</div>
