.generalShadow {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
}

.borderRadius {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.row-gap-custom {
  row-gap: 30px;
}

.column-gap-custom {
  column-gap: 20px;
}

.diagonal {
  clip-path: polygon(0 70px, 100% 0, 100% 100%, 0 calc(100% - 70px));
  background-color: #eff2fe;
  padding: 80px 0;
  margin-top: 40px;
}

.cardSpecific {
  width: 300px;
  max-width: 90%;

  background-color: #ffffff;
}

.cardSpecific img {
  width: 100%;
  height: 250px;
  border-radius: 6px 6px 0 0;
  object-fit: cover;
  object-position: top;
}

.infoCard {
  padding: 15px;
}

.optionsCard {
  padding: 0 15px 15px;
}

a {
  text-decoration: none;
}

.description {
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel-item {
  transition: transform 0.5s ease;
}

@media (max-width: 900px) {
  .diagonal {
    clip-path: initial;
    padding: 40px 0;
  }
}



// slider
.styleContainerSlider{
  display: flex;
  overflow: hidden;
  max-width: calc((300px * 3) + 40px + var(--bs-gutter-x) * .5 + var(--bs-gutter-x) * .5);
  position: relative;
}


// carrousel

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 15px;
}

.swiper-pagination-bullet {
  background: #000;
}


.sliderPrev,
.sliderNext {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.sliderPrev{
  left: 0px;
}

.sliderNext {
  right: -32px;
}

@media (max-width: 480px) {
  .sliderPrev{
    left: 5%;
  }
  
  .sliderNext {
    right: -3%;
  }
  
}

  // .swiper-button-prev::after {
  //   content: '<'; /* Puedes usar un icono o símbolo aquí */
  //   font-size: 24px;

  // }

  // .swiper-button-next::after {
  //   content: '>'; /* Puedes usar un icono o símbolo aquí */
  //   font-size: 24px;
  // }