<div class="diagonal" id="eventos">
  <div
    class="container d-flex flex-column justify-content-center align-items-center row-gap-custom"
  >
    <p class="text-black fw-bold fs-6 margin-bottom-0">NUESTROS EVENTOS</p>
    <h2 class="fw-bold text-black margin-bottom-0">Lorem Ipsum</h2>

    <div
      class="d-flex justify-content-around flex-wrap column-gap-custom row-gap-custom"
    >
      <div class="cardSpecific borderRadius generalShadow">
        <img src="assets/images/portafolio1.jpeg" alt="" />
        <div class="infoCard">
          <p class="titleCard fw-bold fw-bold">Lorem ipsum</p>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis quis nisi maxime ipsa rem temporibus sequi corporis
            itaque. Distinctio, voluptates!
          </p>
          <p class="date">03/10/2024</p>
        </div>
        <div class="optionsCard d-flex justify-content-between flex-wrap">
          <a class="text-black" href="#">Leer más</a>

          <a class="text-black fw-bold" href="#">Reservar</a>
        </div>
      </div>
      <div class="cardSpecific borderRadius generalShadow">
        <img src="assets/images/portafolio1.jpeg" alt="" />
        <div class="infoCard">
          <p class="titleCard fw-bold">Lorem ipsum</p>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis quis nisi maxime ipsa rem temporibus sequi corporis
            itaque. Distinctio, voluptates!
          </p>
          <p class="date">03/10/2024</p>
        </div>
        <div class="optionsCard d-flex justify-content-between flex-wrap">
          <a class="text-black" href="#">Leer más</a>

          <a class="text-black fw-bold" href="#">Reservar</a>
        </div>
      </div>
      <div class="cardSpecific borderRadius generalShadow">
        <img src="assets/images/portafolio1.jpeg" alt="" />
        <div class="infoCard">
          <p class="titleCard fw-bold">Lorem ipsum</p>
          <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perspiciatis quis nisi maxime ipsa rem temporibus sequi corporis
            itaque. Distinctio, voluptates!
          </p>
          <p class="date">03/10/2024</p>
        </div>
        <div class="optionsCard d-flex justify-content-between flex-wrap">
          <a class="text-black" href="#">Leer más</a>

          <a class="text-black fw-bold" href="#">Reservar</a>
        </div>
      </div>
    </div>
  </div>
</div>
