.borderRadius {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
.generalShadow {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.row-gap-custom {
  row-gap: 20px;
}

.column-gap-custom {
  column-gap: 20px;
}

.containerSection {
  width: 100%;
  max-width: 1200px;
  margin: 80px auto;
}

.carrusel {
  width: 53%;
}

.infoSection {
  width: 42%;
}

.containerImages {
  width: 100%;
  max-height: 400px;  
}

.carrusel img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: cover;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-top: 20px;
}

.buttonOptions {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #a3a8a0;
  cursor: pointer;
}

.active {
  background-color: #000000 !important;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
}

.socialMedia img {
  padding: 5px;
  background-color: #5c7df1;
  width: 34px;
  height: 34px;
  border-radius: 10px;
}

.containerButtonSection {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 60px;
  margin-top: 20px;
}

.buttonsSection {
  background-color: #5c7df1;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
}


@media (max-width: 800px) {
  .containerSection {
      flex-direction: column;
      flex-direction: column-reverse;
      row-gap: 30px;
  }
  .carrusel{
      width: 100%;
  }

  .containerImages img{
      height: 300px;
  }

  .infoSection {
      width: 100%;
      margin-top: 30px;
  }

  .containerButtonSection {
      justify-content: start !important;
      flex-wrap: wrap;
      row-gap: 20px;
  }

  .containerSection {
      margin: 80px auto 30px;
  }
}
