.row-gap-custom {
  row-gap: 30px;
}

.column-gap-custom {
  column-gap: 20px;
}

.footer-container {
  background-color: #eff2fe;
  border-radius: 48% 48% 0 0;
}

.firstPart {
  max-width: 1000px;
  margin: auto;
  column-gap: 40px;
  padding: 40px 0;
}

.firstPart img {
  width: 60px;
  height: 60px;
  margin-top: 70px;
}

.containerOptions {
  width: calc(90% - 60px);
}

.optionList {
  margin-bottom: 20px;
}

.optionList a {
  color: #0a142f;
}

.fs-custom {
  font-size: 20px;
}

a {
  text-decoration: none !important;
}

.secondPart{
  padding-bottom: 10px;
}

.hr-custom {
  color: #0a142f;
  background-color: #0a142f;
  height: 2px;
}

.socialMedia {
  margin: auto;
}

.socialMedia img {
  width: 24px;
  height: 24px;
}

@media (max-width: 1300px) {

  .firstPart {
    justify-content: center;
  }

  .containerOptions {
    width: 70%;
  }
}

@media (max-width: 690px) {
    .firstPart {
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
      padding-top: 0px;
      padding-bottom: 0;
      width: 100%;
    }

    .footer-container{
      border-radius: 0;
    }
    .containerOptions{
      width: 100%;
    }
}

@media (max-width: 480px) {
  .containerOptions {
    flex-direction: column;
    width: 80%;
  }

  .firstPart{
    width: 80%;
    align-items: start;
  }

  .firstPart img{
    margin: auto;
    margin-top: 50px;
    margin-left: 5%;
  }

  .firstPart img{
    margin-left: 5%;
  }
}