<div class="width">
  <div class="footer-container">
    <div class="firstPart d-flex">
      <img src="assets/images/logo.png" alt="">
      <div class="containerOptions d-flex justify-content-evenly">
        <ul>
          <li class="optionList fw-bold fs-custom"><a href=""> Contact </a></li>
          <li class="optionList"><a href=""> Address </a></li>
          <li class="optionList"><a href=""> City </a></li>
          <li class="optionList"><a href=""> Zip Cope </a></li>
          <li class="optionList"><a href=""> Email </a></li>
          <li class="optionList"><a href=""> Phone </a></li>
        </ul>

        <ul>
          <li class="optionList fw-bold fs-custom"><a href=""> Links </a></li>
          <li class="optionList"><a href=""> Services </a></li>
          <li class="optionList"><a href=""> Portafolio </a></li>
          <li class="optionList"><a href=""> Events </a></li>
          <li class="optionList"><a href=""> Blog </a></li>
          <li class="optionList"><a href=""> Shop </a></li>
          <li class="optionList"><a href=""> Contact </a></li>
        </ul>
        <ul class="d-flex flex-column justify-content-center">
          <li class="optionList"><a href=""> Contact </a></li>
          <li class="optionList"><a href="">  Terms and Conditions </a></li>
        </ul>
      </div>
    </div>
    <hr class="hr-custom">

    <div class="secondPart d-flex justify-content-between align-items-center flex-wrap">
      <div class="socialMedia d-flex align-items-center column-gap-custom justify-content-center">
        <img src="assets/images/icons8-instagram.svg" alt="">
        <img src="assets/images/icons8-linkedin1.svg" alt="">
        <img src="assets/images/icons8-twitterx.svg" alt="">
        <img src="assets/images/icons8-instagram.svg" alt="">
        <img src="assets/images/icons8-linkedin1.svg" alt="">
        <img src="assets/images/icons8-twitterx.svg" alt="">
      </div>
    </div>
  </div>
</div>
