.generalShadow {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
}

.borderRadius {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.row-gap-custom {
  row-gap: 30px;
}

.column-gap-custom {
  column-gap: 20px;
}

.cardServices {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  cursor: pointer;
}

.square {
  width: 48px;
  height: 48px;
  margin: auto;
}

.titleCard {
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.descriptionCard {
  flex-grow: 1;
  min-height: 58px;
  max-height: 58px;
  overflow: hidden;
  text-overflow: ellipsis;
}
