// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
@import "bootstrap/scss/bootstrap";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

button {
  border-radius: 25px !important;
}

.no-margin {
  margin-bottom: 0px I !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$button-primary-color: #a8a8a8; // Color por defecto en Sass

:root {
  --dynamic-button-primary-color: #{$button-primary-color}; // Convertir el valor de Sass a una variable CSS
}

.btn-primary {
  background-color: var(--dynamic-button-primary-color) !important;
  border-color: var(--dynamic-button-primary-color) !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: var(--dynamic-button-hover-color) !important;
  border-color: var(--dynamic-button-hover-color) !important;
}

.swiper-wrapper {
  padding: 0.5rem;
}
