<div
  class="containerStatistics"
  [ngStyle]="{ 'background-color': impactData?.design?.backgoundColor }"
>
  <div
    class="contentMetricsInfo d-flex justify-content-around align-items-center row-gap-custom"
  >
    <div *ngFor="let item of impactData?.data" class="contentMetric">
      <img [src]="item.url" [alt]="item.url" />
      <div
        class="number"
        [ngStyle]="{ color: impactData?.design?.amountColor }"
      >
        +{{ item?.amount }}
      </div>
      <div class="text" [ngStyle]="{ color: impactData?.design?.color }">
        {{ item?.text }}
      </div>
    </div>
  </div>
</div>
