
<div class="containerReservas d-flex justify-content-between ">
  <div class="imgReservas">
    <img class="generalShadow" src="assets/images/portafolio1.jpeg" alt="">
  </div>
  <div class="infoReservas">
    
    <div class="d-flex flex-column row-gap-10">
      <h2 class="text-white fw-bold fs-3 margin-bottom-0">¿A qué esperas?</h2>

      <p class="text-white fs-6 margin-bottom-0">Lorem ipsum</p>
    </div>
    

    <a class="buttonReserva borderRadius" href="#">Reserva</a>

  </div>
  
</div>
