/** Form */
.form-container {
  display: inline-flex;
  padding: 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  .header-form {
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
    align-self: stretch;
    align-items: center;
    p {
      margin: 0;
      color: black;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1.75rem;
    }
  }
}

/** Inputs */

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  width: 100%;
  label {
    color: #000000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #000000;
  }
}

input,
select, textarea {
  width: 100%;
  box-sizing: border-box;
}

input, textarea {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 16px;
  height: 48px !important;
  background: #fbfbfb;
  border: 1px solid #9f9c9c;
  border-radius: 10px;
}

input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #050f0f;
  flex: none;
  order: 0;
  flex-grow: 0;
}

input:not(:placeholder-shown) {
  color: #00325b;
}

.req,
.default-error {
  color: #a42d30;
}

.default-error {
  color: #a42d30;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
}

.container-sections {
  margin-top: 8.6rem;
  margin-bottom: 8.6rem;
}
.c-pointer {
  cursor: pointer;
}
