<div class="form-container">
  <div class="row">
    <div class="py-2 col-12">
      <app-form-header title="Tu compra"></app-form-header>
    </div>
    <div class="py-2 col-12">
      <div class="form-field">
        <label for="cantidad">Introduzca la cantidad de productos</label>
        <input type="number" placeholder="Cantidad" />
      </div>
    </div>
    <div class="py-2 col-12">
      <p>Información personal</p>
    </div>
    <div class="py-2 col-6">
      <div class="form-field">
        <label for="nombre">Nombre</label>
        <input type="text" placeholder="Ingrese nombre" />
      </div>
    </div>
    <div class="py-2 col-6">
      <div class="form-field">
        <label for="nombre">Apellidos</label>
        <input type="text" placeholder="Ingrese apellidos" />
      </div>
    </div>
    <div class="py-2 col-6">
      <div class="form-field">
        <label for="nombre">Email</label>
        <input type="text" placeholder="Ingrese email" />
      </div>
    </div>
    <div class="py-2 col-6">
      <div class="form-field">
        <label for="nombre">Móvil</label>
        <input type="text" placeholder="Ingrese Mmvil" />
      </div>
    </div>
    <div class="py-2 col-6">
      <div class="form-field">
        <label for="nombre">Dirección</label>
        <input type="text" placeholder="Ingrese dirección" />
      </div>
    </div>
    <div class="py-2 col-6">
      <div class="form-field">
        <label for="nombre">DNI</label>
        <input type="text" placeholder="Ingrese DNI" />
      </div>
    </div>
    <div class="py-2 col-6">
      <div class="form-field">
        <label for="nombre">Fecha de nacimiento</label>
        <input type="date" placeholder="Ingrese fecha de nacimiento" />
      </div>
    </div>
    <div class="py-2 col-6">
      <div class="form-field">
        <label for="nombre">Código postal </label>
        <input type="text" placeholder="Ingrese código postal" />
      </div>
    </div>
    <div class="py-2 col-6">
      <div class="form-field">
        <label for="nombre">Ciudad</label>
        <input type="text" placeholder="Ingrese ciudad" />
      </div>
    </div>
    <div class="py-2 col-6">
      <div class="form-field">
        <label for="nombre">Ingrese País </label>
        <input type="text" placeholder="Ingrese país" />
      </div>
    </div>
    <div class="py-2 col-12">
      <div class="form-field">
        <label for="nombre">Mensaje </label>
        <textarea
          cols="4"
          placeholder="Ingrese un mensaje"
          style="height: 200px"
        ></textarea>
      </div>
    </div>
  </div>
</div>
