<div
  class="pb-4"
  [ngStyle]="{ 'background-color': aboutUs?.design.backgroundColor }"
>
  <div class="container d-flex justify-content-between py-4">
    <div
      #leftContentAboutUS
      style="height: max-content; min-height: max-content"
      class="contentLeft d-flex flex-column row-gap-custom2 column-gap-custom"
      [ngClass]="{'order-2': aboutUs?.design.layout === 'right'}"
    >
      <p
        class="fw-bold fs-6 margin-bottom-0"
        [ngStyle]="{ color: aboutUs?.subTitleColor }"
      >
        {{ aboutUs?.subTitle }}
      </p>

      <h2
        class="fw-bold margin-bottom-0"
        [ngStyle]="{ color: aboutUs?.titleColor }"
      >
        {{ aboutUs?.title }}
      </h2>

      <span
        class="descriptionSectionAboutUs"
        [ngStyle]="{ maxHeight: maxHeightAboutUs }"
        [innerHTML]="aboutUs?.description"
      ></span>
      <div
        class="containerCardsWeAre d-flex align-items-center justify-content-between flex-wrap row-gap-custom2"
      >
        <div
          class="cardweAre generalShadow borderRadius"
          *ngFor="let icon of aboutUs?.features?.icons"
        >
          <img class="imgCard" [src]="icon?.url" [alt]="icon?.title" />
          <div class="infoCard">
            <div class="titleCard fw-bold mb">{{ icon?.title }}</div>
            <div class="description">
              {{ icon?.description }}
            </div>
          </div>
        </div>
      </div>

      <div class="btn-container d-flex gap-4">
        <div
          class="buttonSeeMore borderRadius generalShadow"
          *ngIf="aboutUs?.features?.buttons?.length > 0"
          (click)="seeMore()"
        >
          Leer más
        </div>
        <div
          *ngFor="let button of aboutUs?.features?.buttons"
          class="buttonSeeMore borderRadius generalShadow"
          (click)="redirect(button?.link)"
        >
          {{ button?.text }}
        </div>
      </div>
    </div>
    <div
      class="contentRight containerRightAboutUs"
      [ngClass]="{'order-1': aboutUs?.design.layout === 'right'}"
      style="min-height: 526px"
      #rightContentAboutUs
    >
      <img class="imgAboutUs" [src]="aboutUs?.imgUrl" [alt]="aboutUs?.imgUrl" />
    </div>
  </div>
</div>


<br />
<br />
<br />

<div
  [ngStyle]="{ 'background-color': whyChooseUsData?.design?.backgroundColor }"
>
  <div
    class="container d-flex justify-content-between py-4"
    [ngClass]="{
      'flex-row-reverse': whyChooseUsData?.design?.layout === 'right'
    }"
  >
    <div
      class="contentLeft d-flex flex-column row-gap-custom2 column-gap-custom"
    >
      <p
        class="fw-bold fs-6 margin-bottom-0"
        [ngStyle]="{ color: whyChooseUsData?.titleColor }"
      >
        ¿POR QUÉ ELEGIRNOS?
      </p>

      <h2
        class="fw-bold margin-bottom-0"
        [ngStyle]="{ color: whyChooseUsData?.titleColor }"
      >
        {{ whyChooseUsData?.title }}
      </h2>

      <span class="fs-6" [innerHTML]="whyChooseUsData?.description"></span>

      <div
        class="containerCardsWeAre d-flex align-items-center justify-content-between flex-wrap row-gap-custom2 column-gap-custom"
      >
        <ul class="listOptions ps-0">
          <li
            class="d-flex align-items-center column-gap-custom"
            *ngFor="let subtitle of whyChooseUsData?.subtitles; let i = index"
          >
            <ng-container *ngIf="subtitle.description">
              <span class="fw-bold fs-customList-option"
                >{{ ("0" + (i + 1)).slice(-2) }}.</span
              >
              <p class="margin-bottom-0">{{ subtitle.description }}</p>
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
    <div class="contentRight d-flex justify-content-center align-items-center">
      <img
        class="imgRight"
        [src]="whyChooseUsData?.imgUrl"
        [alt]="whyChooseUsData?.imgUrl"
      />
    </div>
  </div>
</div>

