<div [ngStyle]="{ 'background-color': aboutUs?.design.backgroundColor }">
  <div class="container d-flex justify-content-between py-4">
    <div
      class="contentLeft d-flex flex-column row-gap-custom column-gap-custom"
    >
      <p
        class="fw-bold fs-6 margin-bottom-0"
        [ngStyle]="{ color: aboutUs?.subTitleColor }"
      >
        {{ aboutUs?.subTitle }}
      </p>

      <h2
        class="fw-bold margin-bottom-0"
        [ngStyle]="{ color: aboutUs?.titleColor }"
      >
        {{ aboutUs?.title }}
      </h2>

      <span class="text-black" [innerHTML]="aboutUs?.description"></span>
      <div
        class="containerCardsWeAre d-flex align-items-center justify-content-between flex-wrap row-gap-custom"
      >
        <div
          class="cardweAre generalShadow borderRadius"
          *ngFor="let icon of aboutUs?.features?.icons"
        >
          <img class="imgCard" [src]="icon?.url" [alt]="icon?.title" />
          <div class="infoCard">
            <div class="titleCard fw-bold mb">{{ icon?.title }}</div>
            <div class="description">
              {{ icon?.description }}
            </div>
          </div>
        </div>
      </div>

      <a
        href="#"
        class="buttonSeeMore borderRadius generalShadow"
        *ngIf="aboutUs?.features?.buttons?.length > 0"
        >Leer más</a
      >
    </div>
    <div class="contentRight">
      <img class="imgRight" [src]="aboutUs?.imgUrl" alt="" />
    </div>
  </div>
</div>

<div
  [ngStyle]="{ 'background-color': whyChooseUsData?.design?.backgroundColor }"
>
  <div
    class="container d-flex justify-content-between py-4"
    [ngClass]="{
      'flex-row-reverse': whyChooseUsData?.design?.layout === 'right'
    }"
  >
    <div
      class="contentLeft d-flex flex-column row-gap-custom column-gap-custom"
    >
      <p
        class="fw-bold fs-6 margin-bottom-0"
        [ngStyle]="{ color: whyChooseUsData?.titleColor }"
      >
        ¿POR QUÉ ELEGIRNOS?
      </p>

      <h2
        class="fw-bold margin-bottom-0"
        [ngStyle]="{ color: whyChooseUsData?.titleColor }"
      >
        {{ whyChooseUsData?.title }}
      </h2>

      <span class="fs-6" [innerHTML]="whyChooseUsData?.description"></span>

      <div
        class="containerCardsWeAre d-flex align-items-center justify-content-between flex-wrap row-gap-custom column-gap-custom"
      >
        <ul class="listOptions ps-0">
          <li
            class="d-flex align-items-center column-gap-custom"
            *ngFor="let subtitle of whyChooseUsData?.subtitles; let i = index"
          >
            <ng-container *ngIf="subtitle.description">
              <span class="fw-bold fs-customList-option"
                >{{ ("0" + (i + 1)).slice(-2) }}.</span
              >
              <p class="margin-bottom-0">{{ subtitle.description }}</p>
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
    <div class="contentRight d-flex justify-content-center align-items-center">
      <img
        class="imgRight"
        [src]="whyChooseUsData?.imgUrl"
        [alt]="whyChooseUsData?.imgUrl"
      />
    </div>
  </div>
</div>
