.generalShadow {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25) !important;
}

.borderRadius {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.row-gap-custom {
  row-gap: 30px;
}

.column-gap-custom {
  column-gap: 20px;
}

.color-text {
  color: #000000;
}

.contentCards {
  width: 100%;
}

.cardSpecific {
  width: 90%;
  max-width: 220px;
  background-color: #ffffff;
}

.cardSpecific img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.infoCard {
  padding: 15px 0;
}

.infoCard img {
  width: 32px;
  background-color: #ffffff;
}

.socialMedia {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.socialMedia img {
  width: 24px;
  height: 24px;
}

.description {
  min-height: 30px;
  max-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}




.swiper-button-prev::after{
  content: '' !important;
}
.swiper-button-next::after{
  content: '' !important;
}

.swiper-slide{
  width: 220px !important;
  max-width: 90% !important;
}

.containerCarrousel{
  position: relative;
  // max-width: 1042px;
  display: flex;
  justify-content: center;
  padding: 0 50px;
}

.swiper-container{
  overflow: hidden;
  position: relative;
  // width: calc(90% - 100px);
  display: flex;
  justify-content: center;
}

.swiper-wrapper{
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .diagonal {
    clip-path: initial;
    padding: 40px 0;
  }
}

@media (max-width: 500px) {
  .swiper-button-prev{
    display: none !important;
  }
  .swiper-button-next{
    display: none !important;
  }

  .containerCarrousel{
    padding: 0;
  }
}
