<nav class="modern-header w-100 d-flex justify-content-center">
  <div
    class="modern-header-items d-flex justify-content-between align-items-center"
  >
    <img class="logo" src="assets/images/logo.png" alt="logo" />
    <ul class="nav-items d-flex gap-4">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/" fragment="services">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/" fragment="portafolio">Portafolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/" fragment="eventos">Eventos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clasic/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clasic/store">Tienda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Contacto</a>
      </li>
    </ul>
  </div>
</nav>
